.root{
	-fx-font-size: 25px;
    -fx-background-image: url("../media/image/timg.jpg");
    -fx-background-position: 100%;
    -fx-font-family: "Palatino Linotype";
}
.label{
    -fx-padding: 30%;
    -fx-font-family: "Adobe 楷体 Std R";
    -fx-font-weight: bold;
}
.tool-bar>.button{
    -fx-background-color: red;
}